# Requires ROS 2 (e.g., Humble): rclpy, sensor_msgs, cv_bridge (install via apt/conda/container, not pip)
torch==2.3.1
torchvision==0.18.1
numpy
cmake
Pillow
open3d
huggingface_hub
transformers>=4.44.0
einops
safetensors
pytorch_metric_learning
pytorch-lightning
termcolor
gradio
viser==0.2.23
tqdm
omegaconf
opencv-python
scipy
requests
trimesh
matplotlib
virtualenv>=20.10.0
lz4
gtsam-develop
